<div class="container">
	<div class="row" style="background-color:white;margin-top:100px;padding-top:10px;">
	  
    <div class="col-sm-3">
        <div ng-include="'partials/dashboard-navbar.html'"></div>
    </div>
    <div class="col-sm-9">
        <div style="background-color:#e6e6e6;padding:10px;">
            <div class="row">
                <div class="col-md-3">
                    <div style="border:1px solid #d9d9d9;padding:10px;background-color:white;">
                         <div ng-include="'partials/catalogue/catalogue-action.html'"></div>
                    </div>
                </div>
                <div class="col-md-9" ng-controller="catalogueController">
                    <div class="row">
                        <div class="col-md-12">
                        <div style="background-color:white;padding:10px;">
                            <ul style="list-style-type: none;">
                                <li ng-repeat="catalogue in listeCatalogue">
                                    <div class="btn btn-default btn-xs" style="border:1px solid black;margin-bottom:3px;">{{ catalogue.titre }}</div>
                                </li>
                            </ul>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>