<div class="container">
	<div class="row" style="background-color:white;margin-top:100px;padding-top:10px;">
	  
    <div class="col-sm-3">
        <div ng-include="'partials/dashboard-navbar.html'"></div>
    </div>
    <div class="col-sm-9">
        <div style="background-color:#e6e6e6;padding:10px;">
            <div class="row">
                <div class="col-md-3">
                    <div style="border:1px solid #d9d9d9;padding:10px;background-color:white;">
                    <div ng-include="'partials/actualite/actualite-action.html'"></div>
                    </div>
                </div>
                <div class="col-md-9" ng-controller="actualiteController">

                  <div class="row" id="fiche_contact" style="display:none;margin-bottom:10px;">
                    <div class="col-md-12">
                      <div style="border:1px solid #d9d9d9;padding:10px;background-color:white;border-radius:3px;">
                        
                        <form class="form-horizontal" ng-controller="actualiteController" method="post" ng-submit="edit_actualite()">
                          <div class="row" ng-if="alert_ajouter">
                              <div class="col-md-12">
                              <div class="" style="padding:10px;background-color:#caffca;color:green;text-align:center;">
                              <span style="font-size:px;"><i class="fa fa-check-circle"></i> <b>Actualité modifier avec succès</b></span>
                              </div>
                              </div>
                              </div>
                          <div class="row">
                              <div class="col-md-12" style="margin-top:-20px;">
                                  <h2>Modification d'actualité</h2>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12">
                                  <label for="titre" class="control-label">Titre</label>
                                  <input type="text" class="form-control" ng-model="actualite.titre" value="{{ actualite.titre }}" name="titre_actualite" required="required" placeholder="">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12">
                                  <label for="resume" class="control-label">Description</label>
                                  <textarea type="text" class="form-control" ng-model="actualite.description" value="{{ actualite.description }}" name="description_actualite" required="required" placeholder="5000 caractères maximum"></textarea>
                              </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                                <label for="image" class="control-label">Image</label>
                                <input file-model='actualite.file' type="file" onchange="angular.element(this).scope().previewPhoto(event)"/>
                                <div class="row" style="margin-top:5px;">			 
                                    <div class="col-md-12">			 
                                 <label for="uploadarticle" class="custom-file-upload">
                                 <img ng-src="uploads/{{actualite.filename}}" value="uploads/{{actualite.filename}}" class="img-responsive" style="width:100%;height:100px;">
                                 <img ng-src="{{photo}}" class="img-responsive"/>
                                 </label>
                                </div>
                                </div> 
                            </div>
                        </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <button class="btn btn-primary btn-blue btn-sm pull-right" style="padding-left:40px;padding-right:40px;" type="submit">Modification de l'actualité</button>
                              </div>
                          </div>
                      </form>
                      
                      </div>
                    </div>
                </div>
                    <div style="background-color:white;padding:10px;">
                      
                    <div class="row">
                        <div class="col-md-4" ng-repeat="data in listeActualite">
                          <div>
                          <img ng-src="uploads/{{data.filename}}" class="img-responsive" style="width:100%;height:100px;">
                            <div style="border:1px solid grey;padding:10px;margin-bottom:10px;font-size:11px;">
                                <span>{{ data.titre| limitTo: 77 }}{{data.titre.length > 77 ? '...' : ''}}</span>
                            </div>
                          </div>
                            <button  class="btn btn-warning btn-xs" ng-click="affiche_edit_actualite(data)" style="font-size:9px;margin-bottom:10px;" type="button">modification</button>
                            <button  class="btn btn-danger btn-xs" ng-click="affiche_delete_actualite(data)" style="font-size:9px;margin-bottom:10px;" type="button">suppression</button>
                            <span ng-if="data.statut === '0'">
                            <span><i class="fa fa-circle" style="color:red;"></i></span>
                            <span ng-click="publier_actualite(data)"><i class="fa fa-circle-o" style="color:green;"></i></span>
                            </span>
                            <span ng-if="data.statut === '1'">
                            <span><i class="fa fa-circle-o" style="color:red;"></i></span>
                            <span><i class="fa fa-circle" style="color:green;"></i></span>
                            </span>
                      
                        </div>
                    </div>
                </div>
                

                
                <!-- Modal -->


                </div>
            </div>
        </div>
    </div>
  </div>
  </div>


  